<header class="header">
  <div class="header-inner">
    <div class="left-section">
      <div class="logo-area">
        <a routerLink="/">Babel</a>
      </div>
      <nav class="navbar">
        <ul class="nav-links">
          <li>
            <a routerLink="/series" routerLinkActive="active">
              Series
            </a>
          </li>
          <li>
            <a routerLink="/genres" routerLinkActive="active">
              Genres
            </a>
          </li>
          <li>
            <a routerLink="/discord" routerLinkActive="active">
              Discord
            </a>
          </li>
          <li *ngIf="isStaff()">
            <a routerLink="/staff" routerLinkActive="active">
              Staff
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="right-section">
      <app-search />
      <a *ngIf="!isLoggedIn" routerLink="/login" class="login-button">Login</a>
      <a *ngIf="isLoggedIn" routerLink="/profile" class="profile-icon">
        <span class="profile-icon-circle">👤</span>
      </a>
    </div>
  </div>
</header>
